<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/res/public/layui/css/layui.css"  media="all">
    <link rel="stylesheet" type="text/css" href="/res/css/style.css"/>
    <script src="/res/js/jquery-3.1.1.min.js"></script>
    <script src="/res/public/layui/layui.js"></script>
    <script src="/res/public/layui/Area1.js" type="text/javascript"></script>
    <script src="/res/public/layPage/laypage.js"></script>
    <script src="/res/common/globalVar.js"></script>
    <script src="/res/common/post.js"></script>
    <script src="/res/js/moment.js"></script>
    <script src="/res/common/numCheck.js"></script>
    <script src="/res/js/vue.js"></script>
    <script src="/res/js/ajaxfileupload_final.js"></script>
    <style>
        input[type="file"]::-webkit-file-upload-button {
            width: 70px;
            height: 40px;
            overflow: hidden;
            line-height: 3em;
            background: #FFFFFF;
            content: "";
            cursor: pointer;
            background:url(/res/images/addfile.jpg) no-repeat 0 0;
            outline: none;
            border: 0 none;z-index: 2;
        }

        p[name="attachmentFile"]{
            color: blue !important;
        }
    </style>
</head>
<body>
<div id="queryBuyerEnquireDetail">
    <div class="bz-bb pl20 pr20 pt20 flex">
        <blockquote class="layui-elem-quote layui-quote-nm layui-elem-bor fz12" style="height: 130px;flex: 1;">
            <p class="t-c fz16 line-middle">工程商</p>
            <p class="line-middle pl20">账号：18571463313</p>
            <p class="line-middle pl20">用户名：李旭梅</p>
            <p class="line-middle pl20">公司名称：李旭梅</p>
        </blockquote>
        <blockquote class="layui-elem-quote layui-quote-nm layui-elem-bor ml20 mr20" style="height: 130px;flex: 1;">
            <p class="t-c fz16">分销商</p>
            <p class="line-middle pl20">公司名称：18571463313</p>
            <p class="line-middle pl20">联系人：李旭梅</p>
            <p class="line-middle pl20">手机号：李旭梅</p>
        </blockquote>
        <blockquote class="layui-elem-quote layui-quote-nm layui-elem-bor" style="height: 130px;flex: 1;">
            <p class="t-c fz16">专属客户经理：系统管理员</p>
            <p class="line-middle pl20">手机：18571463313</p>
            <p class="line-middle pl20">QQ：李旭梅</p>
            <p class="line-middle pl20">邮箱：李旭梅</p>
        </blockquote>
    </div>
    <div class="bz-bb pl20 pr20 pt10">
        <form action="" class="jun-form-s form-css">
        <blockquote class="layui-elem-quote layui-quote-nm layui-elem-bor bg-f0">
                <dl class="dl-form mb10-i">
                    <dt class="flt w78">询单编号：</dt>
                    <dd class="flt line-middle c-2 w240">02392364</dd>
                    <dt class="flt">专属客户经理：</dt>
                    <dd class="flt line-middle"><span class="c-2">朱周</span><span class="c-9">手机15627753320/邮箱zhuzhou@yofc.com/qq123456788</span></dd>
                </dl>
                <dl class="dl-form mb10-i">
                    <dt class="flt w78">询单状态：</dt>
                    <dd class="flt line-middle w240"><span class="c-2">待处理</span><span class="c-9">2016/12/12 12:00:00</span></dd>
                    <dt class="flt">报价：</dt>
                    <dd class="flt line-middle w240"><span class="c-f fw-b">20000.00</span><span class="c-2">元</span></dd>
                    <dt v-show="msg3" class="flt"><span class="c-f">*</span>有效期至：</dt>
                    <dd v-show="msg3" class="flt"><input name="followDate" id="enquire_offerValidUntil"  style="height: 32px;width: 240px;" class="layui-input laydate-icon" placeholder="自定义日期格式" onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" validate="true"></dd>
                </dl>
                <dl class="dl-form">
                    <dt class="flt w78"><span class="c-f">*</span>期望交期：</dt>
                    <dd class="flt w240"><input type="text" id="enquire_expectDeliveryTime" v-model="datas.expectDeliveryDate" name="followDate"  style="height: 32px;width: 240px;" class="layui-input laydate-icon" placeholder="请选择期望交期" onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD'})" validate="true"></dd>
                    <dt v-show="msg3" class="flt"><span class="c-f">*</span>回复交期：</dt>
                    <dd v-show="msg3" class="flt"><input name="followDate" id="enquire_replyDeliveryDate"  style="height: 32px;width: 240px;" class="layui-input laydate-icon" placeholder="自定义日期格式" onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" validate="true"></dd>
                    <dd class="flt ml10"><span class="form-btn layui-btn-small2" lay-submit="" lay-filter="demo1">确认</span></dd>
                    <dd class="flt ml10"><span class="form-btn  layui-btn-primary layui-btn-small2">取消</span></dd>
                </dl>
        </blockquote>
        <!--</blockquote>-->
            <h3 class="mt20 fz16 bg-f0 h3-tittle pl10">商品信息</h3>
            <blockquote class="layui-elem-quote layui-quote-nm layui-elem-bor">
                <h3 class="mb5">商城商品<span class="c-h frt fz12 cs-p under-l" onclick="addProduct()">+添加商城商品</span></h3>
                <table class="layui-table pop">
                    <colgroup>
                        <col  width="400">
                        <col  width="100">
                        <col  width="200">
                        <col  width="100">
                        <col  width="200">
                        <col v-show="msg3"  width="100">
                        <col v-show="msg3"  width="100">
                        <col  width="100">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>商品</th>
                        <th >目录价</th>
                        <th ><span class="c-f">*</span>数量</th>
                        <th >计量单位</th>
                        <th >商品描述</th>
                        <th v-show="msg3" ><span>*</span>商品报价(含税/不含税)</th>
                        <th  v-show="msg3">报价小计</th>
                        <th >操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-show="malls.length==0">
                        <td  colspan="8" height="50px"  align="center">
                            <span class="fz16">暂无相关信息</span>
                        </td>
                    </tr>
                    <tr v-for="item in malls">
                        <td class="goods-detail">
                            <dl>
                                <dt><img v-bind:src="item.skuProductImage"  alt="">
                                <p>{{item.skuBrandName}}</p>
                                </dt>
                                <dd class="t-l ml10">
                                    <p class="one-row c-2">{{item.skuName |nullValue}}</p>
                                    <p class="mt10">商品型号:{{item.skuMode}}</p>
                                    <p>商品编码:{{item.skuId}}</p>
                                    <p>商品属性:{{item.skuProperty}}</p>
                                </dd>
                            </dl>
                        </td>
                        <td>{{item.skuDirectoryPrice | currency '' '2'}}</td>
                        <td class="reduce-add">
                            <dl>
                                <dd class="cs-p min" v-on:click="min(item,key)">-</dd>
                                <dd><input type="text"  v-model="item.skuQuantity" @keyup="multiply(item,key)"  /></dd>
                                <dd class="cs-p add" v-on:click="add(item,key)">+</dd>
                            </dl>
                        </td>
                        <td>{{item.skuUnitName}}</td>
                        <td class="lay-form">
                            <textarea cols="130" placeholder="请输入内容" class="layui-textarea"  v-model="item.skuremark"></textarea>
                        </td>
                        <td v-show="msg3">
                            <input type="text" name="skuOfferPrice"  placeholder="请输入报价"  class="layui-input" v-model="item.skuOfferPrice" @keyup="multiply(item,key)"/>
                        </td>
                        <td v-show="msg3">{{item.skuOfferAmount|currency '' '2'}}</td>
                        <td><a href="javascript:void(0);" class="c-h cs-p fz12" v-on:click="deleteMsg($index)">删除</a></td>
                    </tr>
                    </tbody>
                </table>
                <h3 class="mb5"><span class="c-h frt fz12 cs-p under-l"   v-on:click="addCustomProduct()">+添加自定义商品</span></h3>
                <table class="layui-table pop">
                    <colgroup>
                        <col  width="300">
                        <col  width="100">
                        <col  width="100">
                        <col  width="200">
                        <col  width="100">
                        <col  width="200">
                        <col v-show="msg3" width="200">
                        <col v-show="msg3" width="150">
                        <col  width="100">
                    </colgroup>
                    <thead>
                    <tr>
                        <th><span class="c-f">*</span>商品名称</th>
                        <th ><span class="c-f">*</span>商品型号</th>
                        <th ><span class="c-f">*</span>品牌</th>
                        <th ><span class="c-f">*</span>数量</th>
                        <th ><span class="c-f">*</span>计量单位</th>
                        <th >商品描述</th>
                        <th v-show="msg3" ><span>*</span>商品报价(含税/不含税)</th>
                        <th v-show="msg3"><span>*</span>商品报价(含税/不含税)</th>
                        <th >操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-show="diys.length==0">
                        <td  colspan="9" height="50px"  align="center">
                            <span class="fz16">暂无相关信息</span>
                        </td>
                    </tr>
                    <tr class="diy-input"  v-for="item in diys">
                        <td><input type="text" name="title"  autocomplete="off" placeholder="请输入商品名称" class="layui-input" v-model="item.skuName"></td>
                        <td><input type="text" name="title"  autocomplete="off" placeholder="请输入商品型号" class="layui-input"  v-model="item.skuMode"></td>
                        <td><input type="text" name="title"  autocomplete="off" placeholder="请输入品牌" class="layui-input" v-model="item.skuBrandName"></td>
                        <td><input type="text" name="title"  autocomplete="off" placeholder="请输入数量" class="layui-input" v-model="item.skuQuantity" @keyup="multiply2(item,key)"></td>
                        <td><input type="text" name="title"  autocomplete="off" placeholder="请输入计量单位" class="layui-input" v-model="item.skuUnitName"></td>
                        <td><input type="text" name="title"  autocomplete="off" placeholder="请输入商品描述" class="layui-input" v-model="item.remark"></td>
                        <td v-show="msg3"><input type="text" name="title"  autocomplete="off" placeholder="请输入商品报价"  class="layui-input"  v-model="item.skuPrice" @keyup="multiply2(item,key)"></td>
                        <td v-show="msg3">{{item.skuAmount|currency '' '2'}}</td>
                        <td><a href="javascript:;" v-on:click="deleteMsg2($index)">删除</a></td>
                    </tr>
                    </tbody>
                </table>
                <div v-show="msg3" class="mt20  clr">
                    <dl class="dl-form frt mb10-i">
                        <dt class="flt">商品总报价：</dt>
                        <dd class="flt line-middle w100">{{skuProductPrice|currency '' '2'}}</dd>
                        <dd class="flt line-middle ml5">元</dd>
                    </dl>
                    <dl class="dl-form frt mb10-i">
                        <dt class="flt">运费：</dt>
                        <dd class="flt"><input type="text" name="title" v-model="datas.offerFreight" @keyup="multiply3(datas.offerFreight,datas.offerOtherFees)" placeholder="请输入标题" autocomplete="off" class="layui-input w100""></dd>
                        <dd class="flt line-middle ml5">元</dd>
                    </dl>
                    <dl class="dl-form frt mb10-i">
                        <dt class="flt">其他费用描述：</dt>
                        <dd class="flt"><input type="text" name="title" v-model="datas.offerOtherFeesDesc" placeholder="请输入标题" autocomplete="off" class="layui-input w100"></dd>
                        <dd class="flt line-middle ml5">元</dd>
                        <dt class="flt">金额：</dt>
                        <dd class="flt"><input type="text" name="title" placeholder="请输入标题" v-model="datas.offerOtherFees" @keyup="multiply3(datas.offerFreight,datas.offerOtherFees)" autocomplete="off" class="layui-input w100""></dd>
                        <dd class="flt line-middle ml5">元</dd>
                    </dl>
                    <dl class="dl-form frt mb5-i" >
                        <dt class="flt">总价：</dt>
                        <dd class="flt line-middle w100">{{offerTotalPrice|currency '' '2'}}</dd>
                        <dd class="flt line-middle ml5">元</dd>
                    </dl>
                </div>
            </blockquote>
        <h3 class="mt20 fz16 bg-f0 h3-tittle pl10">详细信息</h3>
        <blockquote class="layui-elem-quote layui-quote-nm layui-elem-bor">
                <dl class="dl-form mb10-i">
                    <dt class="flt"><span class="c-f">*</span>配送方式：</dt>
                    <dd class="flt layui-form">
                        <input type="radio" name="deliveryMode" value="LORRY" title="汽车" checked="true">
                        <input type="radio" name="deliveryMode" value="RAILWAY" title="铁路">
                        <input type="radio" name="deliveryMode" value="AIRLIFT" title="空运">
                        <input type="radio" name="deliveryMode" value="EXPRESS" title="快递">
                        <input type="radio" name="deliveryMode" value="SELF_PICK" title="客户自提">
                        <input type="radio" name="deliveryMode" value="OTHER" title="其他">
                    </dd>
                    <dd class="flt"><input type="text" name="title" id="deliveryModeRemark" placeholder="请输入其他配送方式"  autocomplete="off" class="layui-input"></dd>
                </dl>
                <dl class="dl-form">
                    <dt class="flt"><span class="c-f">*</span>项目地：</dt>
                    <dd class="flt layui-form dd-city dd-city2">
                        <select name="province" lay-filter="province" id="enquire_projectProvince">
                            <option value=""  selected=""></option>
                        </select>
                    </dd>
                    <dd class="flt layui-form dd-city dd-city2 ml10">
                        <select name="city" lay-filter="city"  id="enquire_projectCity">
                            <option value=""  selected="" ></option>
                        </select>
                    </dd>
                </dl>
                <dl class="dl-form mb10-i layui-form">
                    <dt class="flt"><span class="c-f">*</span>结算方式：</dt>
                    <dd class="flt"><input type="radio" name="payMode" value="CASH_BEFORE_DELIVERY" title="先款后货" checked="true"><input type="radio" name="payMode"  value="DEPOSIT" title="订金支付"></dd>
                    <dd class="flt"><input type="text" name="title" id="payModeRemark1" autocomplete="off" class="layui-input" style="width: 40px;margin-left:-18px;" value="30"></dd>
                    <dd class="flt line-middle">%</dd>
                    <dd class="flt ml20"><input type="radio" name="payMode" value="CASH_ON_DELIVERY" title="账期支付(货到"></dd>
                    <dd class="flt"><input type="text" name="payModeRemark2" id="payModeRemark2" placeholder="输入天数" autocomplete="off" class="layui-input" style="width: 80px;margin-left:-18px;"></dd>
                    <dd class="flt  line-middle fz12">付款)</dd>
                </dl>
                <dl class="dl-form mb10-i">
                    <dt class="flt"><span class="c-f">*</span>是否开票：</dt>
                    <dd class="flt layui-form">
                        <input type="radio" name="isNeedInvoice" value="Y" title="开票（增值税专用发票）" checked="true">
                        <input type="radio" name="isNeedInvoice" value="N" title="不开票">
                    </dd>
                </dl>
                <dl class="dl-form mb5-i">
                    <dt class="flt fz12">备注：</dt>
                    <dd class="flt layui-form pre">
                        <textarea id="remark" cols="130" rows="5"  placeholder="输入您对商品的其他要求,400以内" class="layui-textarea demandDescribe" style="resize: none;"></textarea>
                        <span class="wordwrap" style="position: absolute;right: 10px;bottom: 0;"><var class="word" id="demandDescribeWord" style="color: red;">400</var>/400</span>
                        <span class="msg" style="display: none;color: red;" id="demandDescribeMsg"></span>
                    </dd>
                </dl>
                <dl class="dl-form mb5-i">
                    <dt class="flt fz12">附件：</dt>
                    <dd class="flt">
                        <ul id="attachmentFileList" class="attachmentFileList clr">
                            <li><p>合同1</p><a>删除</a></li>
                            <li><p>合同1</p><a>删除</a></li>
                            <li><p>合同1</p><a class="delete">删除</a></li>
                            <li><p>合同1</p><a class="delete">删除</a></li>
                            <li><p>合同1</p><a  class="delete">删除</a></li>
                        </ul>
                        <p class="msg">最多5个附件,单个附件8M以内,格式不限</p>
                        <!--<a class="addFile" href="javascript:;">-->
                            <input type="file" style="height: 14px;" name="file" id="uploadAttachmentFileBtn" onchange="uploadAttachment()"/>
                        <!--</a>-->
                    </dd>
                </dl>
        </blockquote>
        <h3 class="mt20 fz16 bg-f0 h3-tittle pl10">添加报价人</h3>
        <blockquote class="layui-elem-quote layui-quote-nm layui-elem-bor" id="choseBidder">
            <div class="mb20">
                <span class="form-btn layui-btn-small2 layui-btn-itoc">平台报价</span>
            </div>
            <div>
                <span class="form-btn layui-btn-small2 layui-btn-itoc">分销商报价</span>
                <a href="javascript:;" class="fz12 cs-p c-h ml10 mr20" style="display: none" onclick="chooseDistributor(2)">{{msg4}}</a><span class="fz12 c-2">{{msg2}}</span>
            </div>
        </blockquote>
        <h3 class="mt20 fz16 bg-f0 h3-tittle pl10">操作日志<span class="c-h frt fz12 cs-p under-l mr20"   @click="fn()">{{word}}></span></h3>
        <blockquote class="layui-elem-quote layui-quote-nm layui-elem-bor">
            <table class="layui-table pop mb5-i" lay-skin="line">
                <colgroup>
                    <col  width="200">
                    <col  width="200">
                    <col  width="200">
                    <col  width="400">
                    <col  width="200">
                </colgroup>
                <thead>
                <tr>
                    <th >时间</th>
                    <th >操作人</th>
                    <th >询单状态</th>
                    <th >操作内容</th>
                    <th >操作</th>
                </tr>
                </thead>
                <tbody v-show="willShow">
                    <tr v-show="lis.length==0">
                        <td  colspan="5" height="50px"  align="center">
                            <span class="fz16">暂无相关信息</span>
                        </td>
                    </tr>
                    <tr v-for="item in lis">
                        <td>{{item.operationTime}}</td>
                        <td>{{item.operationAccountName}}{{item.operationUserName}}</td>
                        <td>{{item.offerStatus}}</td>
                        <td>{{item.operationContent}}</td>
                        <td><a href="javascript:;" class="c-h fz12 cs-p" v-show="$index==0">查看原始单据</a></td>
                    </tr>
                </tbody>
            </table>
        </blockquote>
     </form>
</div>
<script src="/res/js/editInquiryDetail.js"></script>
</body>
</html>